fastapi
uvicorn
python-dotenv
langchain
google-generativeai
pydantic[email]
faiss-cpu
langchain-community
langchain-google-genai
pypdf
unstructured
beautifulsoup4
playwright
python-jose[cryptography]
passlib[recommended]
python-multipart
sqlalchemy
edge-tts
email-validator
bcrypt
